
.container
  img.img-fluid(
    src='images/comptoir.png' 
    alt='Comptoir' 
    data-toggle='tooltip' 
    title='Notre comptoir à emporter!' 
    style='width: auto; margin: 0;'
  )
br
br
.container.text-center
  img.img-fluid(
    src='images/mosaic_people.jpg' 
    alt='Banner' 
    data-toggle='tooltip' 
    title='Des clients satisfaits!' 
    style='width: 100%; margin: 0;'
  )
br